<!DOCTYPE html>
<!-- If you are reading this, there is a good chance you would prefer sending an
"Accept: application/json" header and receiving actual JSON responses. -->
<html>
<head>
    <title>{{ page_name }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/api-explorer.css"/>
</head>

<body>

{% spaceless %}
    <table>
        <thead>
        <tr>
            <td>Name</td>
            <td>Value</td>
        </tr>
        </thead>
        <tbody>
        {% for name, value in envvars %}
            <tr>
                <td>{{ name }}</td>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endspaceless %}

</body>
</html>