<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.0/phpunit.xsd"
         bootstrap="bootstrap.php"
         forceCoversAnnotation="false"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="false"
         beStrictAboutTodoAnnotatedTests="true"
         verbose="true"
         colors="true">

    <testsuites>
        <testsuite name="Redis">
            <directory>tests/Redis</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-html" target="build/phpunit-report"/>
        <log type="coverage-clover" target="build/phpunit-clover.xml"/>
        <log type="junit" target="build/phpunit-junit.xml"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
    </logging>

    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory>./vendor</directory>
                <directory>./views</directory>
                <directory>./assets</directory>
                <directory>./bin</directory>
                <directory>./tests</directory>
            </exclude>
        </whitelist>
    </filter>

    <listeners>
        <listener class="JohnKary\PHPUnit\Listener\SpeedTrapListener" />
    </listeners>

</phpunit>
