{% block json_object %}{% spaceless %}
    <span>{</span>
    <ul class="obj collapsible">
        {% for key, value in json %}
            <li>
                <span class="prop"><span class="q">"</span>{{ key }}<span class="q">"</span></span>
                <span>: </span>
                {% if value is iterable %}
                    {% include "explorer.json-block.html.twig" with {'json':value} only %}
                {% elseif value matches '/^\\d+$/' or value matches '/^[-+]?[0-9]*\\.?[0-9]+$/' %}
                    <span class="num">{{ value }}</span>
                {% else %}
                    <span class="string">"{{ value }}"</span>
                {% endif %}
                {% if not loop.last %}
                    <span>,</span>
                {% endif %}
            </li>
        {% endfor %}

    </ul>
    <span>}</span>
{% endspaceless %}{% endblock %}