<!DOCTYPE html>
<!-- If you are reading this, there is a good chance you would prefer sending an
"Accept: application/json" header and receiving actual JSON responses. -->
<html>
<head>
    <title>{{ page_name }}</title>
    {{ inline_css|raw }}
</head>

<body>

{% spaceless %}
    <div class="json">
        {% include "api/explorer.json-block.html.twig" with {'json':json} only %}
    </div>
{% endspaceless %}

</body>
</html>